PORT=3001
MONGODB_URI=mongodb://localhost:27017/codewhisperer
OPENAI_API_KEY={your_openai_api_key}
BASE_URL=http://localhost:3001
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_FROM={your_validated_sending_identity}
EMAIL_USER={username}
EMAIL_PASSWORD={password}
EMAIL_SECURE=false