<footer class="footer py-3 bg-secondary">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-3">
                <h5 class="text-uppercase mb-4">CodeWhisperer by GPT Pilot</h5>
                <p>
                    <a href="https://github.com/Pythagora-io/gpt-pilot" class="text-white" style="text-decoration: underline;">Created with GPT Pilot</a> |
                    <a href="https://github.com/Pythagora-io/code-whisperer" class="text-white" style="text-decoration: underline;">See source on GitHub</a>
                </p>
            </div>
        </div>
    </div>
</footer>