/* Add custom styles that apply to all pages using the shared layout */

.bg-secondary {
    background-color: #6c757d !important; /* Bootstrap's secondary color */
}

.footer {
    background-color: #6c757d !important; /* Keep footer background color */
    color: #fff; /* Ensure text on dark background is white for better readability */
    padding-top: 1rem; /* Add padding to the top for clear visibility and distinction */
    padding-bottom: 1rem; /* Add padding to the bottom for visual distinction */
    margin-bottom: 0 !important; /* Set footer margin-bottom to 0 as per user input */
    margin-top: 2rem; /* Add top margin to ensure visual separation from the content */
}

.navbar {
    background-color: #6c757d !important; /* Bootstrap's secondary color for the navbar */
    color: #fff; /* Ensure text on dark background is white for better readability */
    padding-top: 1rem; /* Add padding to the top for clear visibility and distinction */
    margin-bottom: 2rem; /* Adjust bottom margin for visual separation between navbar and other components */
}

.header {
    margin-bottom: 2rem; /* Adjust bottom margin for visual separation */
}

.footer h5 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: bolder;
}

.footer p a.text-white {
    color: #fff;
}

.footer p a.text-white:hover {
    color: #ddd;
    text-decoration: none;
}